{% extends "base.html" %}
{% load static %}

{% block title %}Last articles{% endblock %}

{% block content %}
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Английский язык: 35 интересных фактов</title>
  </head>
  <body>

    <div class="post">
      <h2 class="post-title">Изучение английского для дизайнера.</h2>
      <img src="https://i.pinimg.com/originals/19/d5/4b/19d54b1718ceb3b4f8c270582a3d2d87.jpg" class="card-img-top" alt="...">
      <p class="post-meta">December 19, 2019</p>

      <p>Так как наши взаимоотношения со школой Бюро зашли в тупик (кто не в теме, смотрите мой пост про дизайн образование и ответ Горбунова на него), я решил, что это прекрасный повод посвятить освободившееся время тому, что мне действительно нужно и уже давно гремит за спиной, как консервные банки, — изучению английского. Да и экономическая ситуация намекает как бы.</p>
      <p>Легко научиться чему-либо можно, только полюбив то, чем хочешь заниматься, или, скорее, даже полюбив себя занимающимся этим. Только так ты без труда сможешь каждый день выделять время на учебу. Если считаешь, что английский (или что угодно) можно изучить, тратя на это пару часов в неделю, хуй там, это так не работает. По крайней мере, у меня. Обязательно нужно каждый день — дома, в метро, на работе — слушать, читать, писать и говорить.</p>
      <b>С чего начать</b>
      <p>За все 25 лет моей жизни мой уровень знания английского едва ли преодолел отметку pre-intermediate. Кое-как понимаю то, что прочел, еще хуже воспринимаю на слух и говорю (скорее экаю и мэкаю). Но, несмотря на это, меня силой не затянуть на какие-либо курсы и школы языка. Как я уже писал в посте про дизайн-образование, все это бесполезно, когда ты даже не можешь заставить себя сесть и что-то прочитать по теме.</p>
      <p>Примерно 90% людей идут на курсы, чтобы оправдать свою бесполезность: «Это просто не мое. Не лежит душа. Даже на курсы ходил — и не смогли меня научить. Полежу еще немного дома на диване, посмотрю сериалы, может, придет озарение. И не давите на меня, я же стараюсь!»</p>
      <p>На данном этапе самым крутым открытием в изучении языка для меня стал сайт italki.com. Суть в том, чтобы найти себе преподавателя по скайпу, который, скорее всего, ни слова не понимает по-русски, и пытаться с ним общаться на различные темы (которые он сам предлагает). Это стимулирует мозг думать на иностранном языке плюс корректирует произношение. Самое главное, твое обучение языку происходит в правильной последовательности, как у маленьких детей: вначале ты учишься понимать и говорить и только потом при необходимости подгоняешь все под строгие правила грамматики.</p>
      <p>Моего преподавателя зовут Philip. Общаемся два раза в неделю по часу. Забавный парень, живет в Штатах, русский не знает. Советую, даже если ваш уровень elementary.</p>

      <b>Что дальше</b>
      <p>Для того чтобы каждый день больше читать на английском, нужно каждый день меньше читать на русском.</p>
      <p>На деле это оказалось так же трудно, как освобождать гардероб от старой одежды. Всегда находится что-то, что уже давно не носишь, но не можешь выбросить, ибо с этой вещью связывают давние нежные воспоминания. И тебя начинают терзать угрызения совести и возникает желание отложить уборку на неопределенное время. Чтобы избежать подобного, я решил не раздумывая избавиться от всего русскоязычного. Если и выброшу что-то толковое, то всегда смогу зайти по прямой ссылке и почитать. Не конец света.</p>
      <p>В расход пошли Варламов, Тема Лебедев, советы Горбунова, Бизнес-линч, мой любимый Сергей Король, Хабрахабр и т. д.</p>
      <p>P.S. Да, я наконец-таки переехал на Medium. Тут хорошо и уютно. Единственное но: жутко раздражают стандартные отступы от заголовков.</p>
    </div><!-- /.blog-post -->

  </body>
</html>
{% endblock %}
