{% extends "base.html" %}
{% load static %}

{% block title %}Last articles{% endblock %}

{% block content %}
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>История английского языка: от зарождения до наших дней</title>
  </head>
  <body>

    <div class="post">
      <h2 class="post-title">История английского языка: от зарождения до наших дней</h2>
      <img src="https://s1.studylib.ru/store/data/004989014_1-ee479ef5148cc2d6bfe1030fb03dc236.png" class="card-img-top" alt="...">
      <p class="post-meta">December 19, 2019</p>

      <p>Историю английского языка многие филологи и лингвисты делят на три периода: древнеанглийский, среднеанглийский и новоанглийский. Однако деление это достаточно условное, потому что язык существовал у племен, населявших Британские острова, задолго до завоевания Британии Цезарем или распространения на территории страны христианства.</p>
      <b>Кельтская культура у истоков истории английского языка</b>
      <p>Первые упоминания в древних летописях о жителях, населявших британские острова, относятся к 800 году до н.э. В это время на остров переселяется племя индоевропейского народа - кельты. Те племена, которые жили на островах до прихода кельтского народа не оставили никаких следов в истории.</p>
      <p>С 800 года до н.э. начинается эпоха британских кельтов и, соответственно, кельтского языка на территории Британии. Многие лингвисты придерживаются того мнения, что слово ″Британия″ происходит от слова с кельтским корнем – brith "раскрашенный". В летописях можно найти упоминание, что кельты действительно раскрашивали себе лица и тела, когда собирались на войну или охоту. Есть в летописях упоминания и о том, что британские кельты уже в пору завоевания Британских островом великим Цезарем обладали развитой культурой. В племенах процветал патриархат. Мужчины имели по 8-10 жен. Дети воспитывались женщинами до определенного возраста, затем мальчики переходили под опеку мужчин, которые учили их охотиться и владеть оружием.</p>
      <p>А такие слова, как whiskey, plaid, slogan попали в английский язык намного позднее из кельтских языков, которые были широко распространены в тот период: whiskey (ирл. uisce beathadh "живая вода"), slogan (из шотландского sluagh-ghairm "боевой клич").</p>
      <b>Влияние Римской империи на развитие английского языка</b>
      <p>Спустя столетие после завоевания британских островов Цезарем, в 44 году до н.э. Британские острова посетил римский император Клавдий, после чего Британия стала считаться Римской провинцией. В этот период наблюдается тесное общение кельтского народа и римлян, что, безусловно, нашло отражение в языке.</p>
      <p>Так, многие слова в современном английском языке имеют латинские корни. Например, слово castra (с лат. ″лагерь″). Этот корень встречается во многих географических названиях современной Британии - Lancaster, Manchester, Leicester.</p>
      <p>Есть много нарицательных имен существительных, заимствованных из латыни: wine "вино" – из лат. vinum "вино"; pear "груша" – из лат. pirum "груша"; pepper "перец" – из лат. рiper.</p>
      <b>Древнеанглийский период (450 – 1066 г) в истории английского языка</b>
      <p>Непосредственными прародителями английского народа являются германские племена саксов, ютов, англов и фризов, которые проникли на территорию Британии в 449 году. Так как по численности эти племена намного превосходили кельтские, то постепенно англосаксонское наречие полностью вытеснило кельтское наречие из употребления.</p>
      <p>Благодаря англосаксонским племенам в английском языке появились многие названия географических объектов, сохранившиеся до наших дней. Также такие слова, как  butter, pound, cheese, alum, silk, inch, сhalk,  mile, mint – имеют  общегерманские корни, заимствованные из латыни. Или слово Saturday - расшифровывается как ″день Сатурна″- отца бога Юпитера в древнеримской мифологии.</p>
      <p>В 597 году н.э. начинается всеобщая христианизация Британии. До этого племена англосаксов являлись язычниками. Римская церковь направила на остров монаха Августина, который дипломатическими путями постепенно начал обращение англосаксов в христианство. Деятельность Августина и его последователей принесла ощутимые результаты: к началу 700 года н.э. значительная часть населения Британских островов исповедовали христианство.</p>
      <p>Такое тесное слияние культур нашло свое отражение и в языке. Появилось много слов, которые были заимствованы именно в это время. Например, school "школа" – из лат. schola "школа", Bishop "епископ" – из лат. Episcopus ″присматривающий″, mount "гора" – из лат. montis (род. пад.) "гора", pea "горох" – из лат. pisum "горох", Priest "священник" – из лат. presbyter "пресвитер".</p>
      <b>Влияние скандинавской группы языков</b>
      <p>В 878 году начинается завоевание англосаксонских земель датчанами. В течение многих лет датчане жили на землях Британии, вступали в браки с представителями англосаксов. В результате в английском языке появился ряд заимствований из скандинавских языков. Например, amiss "неладно", anger "гнев", auk "гагарка", awe "благоговейный страх", axle "ось", aye "всегда".</p>
      <p>Буквосочетание sk- или sc- в начале слова в современном английском также очень часто показатель, что слово является скандинавским заимствованием. Например, sky "небо" (при исконно английском heaven), skin "кожа" (при исконно английском hide "шкура"), skull "череп" (при исконно английском shell "скорлупа; оболочка").</p>
      <b>Среднеанглийский период (1066-1500) истории английского языка</b>
      <p><b>Развитие английского языка в средние века</b></p>
      <p>В середине XI века жители северной Франции завоевывают Британию. Королем становится Вильгельм Завоеватель, по происхождению норманн. С этого времени в истории народа начинается эпоха трех языков. Языком аристократии, судов стал французский, языком науки оставалась латынь, а простой люд продолжал говорить на англосаксонском. Именно смешение этих трех языков и дало начало образованию современного английского языка.</p>
      <b>Современный английский язык – смешанный</b>
      <p>Языковеды трактуют современный английский язык, как смешанный. Это происходит из-за того, что многие слова, при общем смысле не имеют общих корней. Сравним для примера ряд слов на русском языке: голова – глава - главный. В английском тот же ряд представлен словами: head – chapter – chief. Почему так произошло? Все объясняется именно смешением трех языков. Англосаксонские слова обозначали конкретные предметы, отсюда слово head. С латинского – языка науки и образования осталось слово chapter. От французского осталось слово, бывшее в обиходе знати, chief.</p>
      <p>В этот период истории английского языка происходят изменения и в грамматическом строении. Исчезают многие глагольные окончания. Имена прилагательные приобретают степени сравнения, в том числе и супплетивные степени (с добавлением слов more, most). Значительные изменения претерпевает и фонетика языка. К концу 1500 года в стране все большую популярность завоевывает лондонский диалект, на котором начинают говорить 90% носителей языка.</p>
    </div><!-- /.blog-post -->

  </body>
</html>
{% endblock %}
